# Data files
data/raw/
data/processed/
*.csv
*.json
*.parquet

# Python
__pycache__/
*.pyc
.env
venv/

# Airflow
airflow/logs/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
logs/

# DuckDB
*.duckdb
*.duckdb.wal
